---
---

@import "{{ site.theme }}";

#header {
    nav {
        h1 {
            font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: normal;
            font-size: 40px;
            text-align: center;
            line-height: 36px;
            float: left;
            margin-left: 10px;
        }
        a {
            background-color: #2979FF;
        }
    }
}

section {
    #title {
        margin: auto;
    }
}

@media print, screen and (max-width: 480px) {

    #header {
      margin-top: auto;
    }
  
    section {
      margin-top: 60px;
    }
    nav {
      display: block;
    }
  }