html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  min-height: 240;
  min-width: 400;
}

.Application {
  margin: 0;
  padding: 0;
  height: 100%;
}

.vrlogo {
  height: 48px;
  right: 0;
  position: absolute;
}

.loading {
  height: 100%;
  width: 100%;
  margin-top: 100px;
  text-align: center
}